@model IEnumerable<ControleStarter.Models.Daily>

@{
    Layout = "_LayoutMenuLateral";
}

<div class="d-flex justify-content-center">
    <div class="card" style="width: auto;">
        <div class="card-body">
            <img src="/images/DAILY.png" alt="logo-DAILY" width="200" border="0">
            <hr>
            <a asp-action="NovaDaily" aps-controller="Daily" class="btn btn-dark">Nova Daily</a><br><br>

            <script>
                $(document).ready( function () {
                    $('#dailys').DataTable({
                        "info": false,
                        "search": false,
                        "language": {
                            "lenghtMenu" : "Mostrando _MENU_ registros",
                            "zeroRecords": "Desculpe, nada foi encontrado",
                            "info": "Mostando página _PAGE_ de _PAGES_",
                            "infoEmpty": "Nenhum registro disponível",
                            "paginate": {
                                "first":    "Primeiro",
                                "last":     "Último",
                                "next":     "Próximo",
                                "previous": "Anterior"
                            }
                        }
                    });
            } );
            </script>

            <table id="dailys" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Starter</th>
                        <th>Scrum Master</th>
                        <th>Data</th>
                        <th>Fazendo</th>
                        <th>Feito</th>
                        <th>Impedimentos</th>
                        <th>Presença</th>
                        <th>Módulo</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var daily in Model)
                    {
                        <tr>
                            <td>@daily.Starter.Nome</td>
                            <td>@daily.Grupo.ScrumMaster</td>
                            <td>@daily.Data.ToShortDateString()</td>
                            <td>@daily.Fazendo</td>
                            <td>@daily.Feito</td>
                            <td>@daily.Impedimentos</td>
                            <td>@daily.Presenca</td>
                            <td>@daily.Modulo.Nome</td>
                            <td>
                                <a class="btn btn-primary btn-sm" href="Daily/EditarDaily/@daily.Id" role="button">Editar</a> 
                                <a class="btn btn-primary btn-sm" href="/Daily/Apagar/@daily.Id" role="button" >Apagar</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>